@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* dhari use huna color figma bata lako */
  --brand-blue: #38BAE0;  
  --brand-yellow: #FFD700;
}

@theme  {
  /* font poppins in design so added */
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --color-brand-yellow: var(--brand-yellow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
